# Debug
ConnectN/lost-games.txt

# Bomberman Weights
Bomberman/group04/qlearning/bomberman_weights.txt

__pycache__
*.pyc

# PyCharm project stuff
.idea/

# vsc
.vscode/
ConnectN.code-workspace
final-data.txt
Bomberman.code-workspace
